body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-200);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
}

main > h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 5rem;
    font-weight: 800;
    margin: 1rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% 4%;
    width: 100%;
}

