body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-200);
}

#main-content {
  position: relative;
  z-index: 5;
}

main + section {
  border: 1px solid transparent;
  background-color: var(--bg-200);
}

section > section {
  position: relative;
  margin: 7rem;
  padding: 80px;
  text-align: center;
  background-color: var(--bg-100);
  color: var(--text-100);
}

section ul li {
  list-style: none;
}

h2 {
  color: var(--primary-300);
}

div {
  color: var(--text-200);
}

button {
  background-color: var(--accent-100);
  color: var(--text-100);
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--accent-200);
}
